.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}

.title {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Roboto', sans-serif;
};

.search, .select {
    width: 43%;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 900px) {
    .header {
        justify-content: space-evenly;
        height: 25vh;
    }

    .title {
        font-size: 11vw;
    }
}