
.meanings {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 55vh;
    width: 100%;
    border: 10px solid rgb(105, 105, 105);
    border-radius: 10px;
    padding: 10px 20px;
    overflow-x: hidden;
}

.phoneticAudio {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: white;
    color: darkblue;
}

.subtitle {
    font-size: 5vw;
    font-size: Montserrat, sans-serif;

}

@media (max-width: 900px) {
    .meanings {
        height: 60vh;
        overflow-x: hidden;
        overflow: scroll;
    }
}

.singleMean {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: white;
    color: darkblue;
}