.App-Dark {
  height: 100vh;
  background-color: #282c34;
  color:aliceblue;
  transition: all 1.0s linear;
}

.App-Light {
  height: 100vh;
  background-color: aliceblue;
  color:#282c34;
  transition: all 0.5s linear;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Dark .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Light .App-header {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.App-link {
  color: #61dafb;
}

.appContainer {
  display: "flex";
  flex-direction: "column";
  height: 100vh;
  justify-content: space-evenly;
}

.themeSwitch {
  position: absolute;
  top: 0px;
  right: 15px;
  padding-top: 10px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
